body {
  background: #46484b;
}
#light-bulb2 {
  width: 300px;
  height: 300px;
  background: url(../img/lightbulb.png) no-repeat 0 0;
}
#light-bulb {
  position: absolute;
  -webkit-transform: rotate(180deg);
  width: 300px;
  height: 300px;
  top: 15%;
  left: 4%;
  background: url(../img/lightbulb.png) no-repeat -300px 0;
  cursor: move;
  z-index: 800;
}
