doctype html
html 
	head
		meta(charset="utf-8")
		meta(name="viewport" ,content="width=device-width, initial-scale=1")
		title Knob
		
		link(rel="stylesheet" href="../themes/Knob.min.css")
		link(rel="stylesheet" href="../themes/jquery.mobile.icons.min.css")
		link(rel="stylesheet" href=".././system/jquery.mobile.structure-1.4.3.css")
		link(rel="stylesheet" href="../css/Knob.css")
		
		//- knob css


		link(rel="stylesheet" href="../plug-in/Knob_assets/css/styles.css" )
		link(rel="stylesheet" href="../plug-in/Knob_assets/knobKnob/knobKnob.css" )



		script(src='../js/Knob.js')
		
		
		script(src='.././system/js/jquery-1.11.1.js')
		script(src='.././system/js/jquery.mobile-1.4.3.js')
		
			
		script(src='../cordova.js')

		
		

		//- knob js
		script(src="../plug-in/Knob_assets/knobKnob/transform.js")
		script(src="../plug-in/Knob_assets/knobKnob/knobKnob.jquery.js")
		script(src="../plug-in/Knob_assets/js/script.js")
		

		script(src='.././system/page_life/LC_Knob.js')
		
		
		
		
	
	
	
	body
	

		div( data-role='page' ,data-theme="a" )


			div(data-role='header', data-theme='a',data-position="fixed" data-fullscreen="true")
				h1 Knob	

			div( data-role='content', data-theme="a" )

				div(id="Knob")
					div(id="bars")
						div(id="control")



				
				
					







			
			