doctype html
html 
	head
		meta(charset="utf-8")
		meta(name="viewport" ,content="width=device-width, initial-scale=1")
		title LCD
		
		link(rel="stylesheet" href="../themes/LCD.min.css")
		link(rel="stylesheet" href="../themes/jquery.mobile.icons.min.css")
		link(rel="stylesheet" href=".././system/jquery.mobile.structure-1.4.3.css")

		link(rel="stylesheet" href="../css/LCD.css")
		

		script(src='../js/LCD.js')
		
		
		
		script(src='.././system/js/jquery-1.11.1.js')
		script(src='.././system/js/jquery.mobile-1.4.3.js')
		
		
		script(src='.././system/page_life/LC_LCD.js')
		
		
		
		
		
	
	
	
	body
	

		div( data-role='page' ,data-theme="a" )


			div(data-role='header', data-theme='a',data-position="fixed" data-fullscreen="true")
				h1 LCD	

			div( data-role='content', data-theme="a" )
				div(id='textView') 
					p(id ="Line1") 
					p(id ="Line2")     
					p(id ="Line3") 
					p(id ="Line4") 


				img(id='imgLCD',src="../img/LCD.png", height="520" width="350")

				
				
					







			
			