doctype html
html 
	head
		meta(charset="utf-8")
		meta(name="viewport" ,content="width=device-width, initial-scale=1")
		title Module
		
		link(rel="stylesheet" href="../themes/EcoSim.min.css")
		link(rel="stylesheet" href="../themes/jquery.mobile.icons.min.css")
		link(rel="stylesheet" href=".././system/jquery.mobile.structure-1.4.3.css")
		link(rel="stylesheet" href="../css/memory_window.css")
		

		script(src='.././system/js/jquery-1.11.1.js')
		script(src='.././system/js/jquery.mobile-1.4.3.js')



		//script(src='../cordova.js')
		//script(src='../js/')
		

	

		
		
		
		
		
		
	
	
	
	body
	

		div( data-role='page' ,data-theme="a" )


			div( data-role='header', data-theme="a" , data-fullscreen="true" )
				h1 Watch Window			
				div(data-role='navbar')
					ul
						li
							a(href="#") Registers
						li
							a(href="#") Memory
			


			div( data-role='content', data-theme="a" )

				label                                  RAM 
				label   0x00                                                    0x05
				div(class="ui-grid-d")
					div(class="ui-block-a")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-b")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-c")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-d")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-e")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-a")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-b")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-c")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-d")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-e")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-a")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-b")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-c")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-d")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-e")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-a")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-b")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-c")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-d")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-e")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-a")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-b")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-c")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-d")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-e")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-a")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-b")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-c")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-d")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-e")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-a")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-b")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-c")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-d")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-e")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-a")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-b")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-c")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-d")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-e")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-a")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-b")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-c")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-d")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-e")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-a")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-b")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-c")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-d")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-e")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-a")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-b")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-c")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-d")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-e")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-a")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-b")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-c")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-d")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-e")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-a")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-b")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-c")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-d")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-e")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-a")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-b")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-c")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-d")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-e")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-a")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-b")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-c")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-d")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-e")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-a")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-b")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-c")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-d")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-e")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-a")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-b")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-c")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-d")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-e")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-a")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-b")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-c")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-d")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-e")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-a")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-b")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-c")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-d")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-e")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-a")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-b")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-c")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-d")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					div(class="ui-block-e")
						div(class="ui-bar ui-bar-a" style='height:10px') 0x00
					
					
				

		






			
			