doctype html
html 
	head
		meta(charset="utf-8")
		meta(name="viewport" ,content="width=device-width, initial-scale=1")
		title Module
		
		link(rel="stylesheet" href="../themes/EcoSim.min.css")
		link(rel="stylesheet" href="../themes/jquery.mobile.icons.min.css")
		link(rel="stylesheet" href=".././system/jquery.mobile.structure-1.4.3.css")
		link(rel="stylesheet" href="../css/EcoBt.css")
		

		script(src='.././system/js/jquery-1.11.1.js')
		script(src='.././system/js/jquery.mobile-1.4.3.js')



		//script(src='../cordova.js')
		//script(src='../js/')
		

	

		
		
		
		
		
		
	
	
	
	body
	

		div( data-role='page' ,data-theme="a" )


			div( data-role='header', data-theme="a" , data-fullscreen="true" )
				h1 Watch Window			
				div(data-role='navbar')
					ul
						li
							a(href="#") Registers
						li
							a(href="#") Memory
			


			div( data-role='content', data-theme="a" )

				p Registers:
				div(class="ui-grid-b")
					div(class="ui-block-a")
						div(class="ui-bar ui-bar-a" style='height:10px') R0: 0x22
					div(class="ui-block-a")
						div(class="ui-bar ui-bar-a" style='height:10px') R1: 0x12
					div(class="ui-block-a")
						div(class="ui-bar ui-bar-a" style='height:10px') R2: 0x00
					div(class="ui-block-a")
						div(class="ui-bar ui-bar-a" style='height:10px') R3: 0x00
					div(class="ui-block-a")
						div(class="ui-bar ui-bar-a" style='height:10px') R4: 0x00
					div(class="ui-block-a")
						div(class="ui-bar ui-bar-a" style='height:10px') R5: 0x00
					div(class="ui-block-a")
						div(class="ui-bar ui-bar-a" style='height:10px') R6: 0x00
					div(class="ui-block-a")
						div(class="ui-bar ui-bar-a" style='height:10px') R7: 0x00

				p SFR:
				div(class="ui-grid-b")
					div(class="ui-block-a")
						div(class="ui-bar ui-bar-a" style='height:10px') P0: 0x00
					div(class="ui-block-b")
						div(class="ui-bar ui-bar-a" style='height:10px') SP: 0x00
					div(class="ui-block-c")
						div(class="ui-bar ui-bar-a" style='height:10px') DPL:0x00
					div(class="ui-block-a")
						div(class="ui-bar ui-bar-a" style='height:10px') DPH:0x00
					div(class="ui-block-b")
						div(class="ui-bar ui-bar-a" style='height:10px') PCON:0x00
					div(class="ui-block-c")
						div(class="ui-bar ui-bar-a" style='height:10px') TCON:0x00
					div(class="ui-block-a")
						div(class="ui-bar ui-bar-a" style='height:10px') TMOD:0x00
					div(class="ui-block-b")
						div(class="ui-bar ui-bar-a" style='height:10px') PCON:0x00
					div(class="ui-block-c")
						div(class="ui-bar ui-bar-a" style='height:10px') TL0:0x00
					div(class="ui-block-a")
						div(class="ui-bar ui-bar-a" style='height:10px') TL1:0x00
					div(class="ui-block-b")
						div(class="ui-bar ui-bar-a" style='height:10px') TH0:0x00
					div(class="ui-block-c")
						div(class="ui-bar ui-bar-a" style='height:10px') TH1:0x00
					div(class="ui-block-a")
						div(class="ui-bar ui-bar-a" style='height:10px') P1:0x00
					div(class="ui-block-b")
						div(class="ui-bar ui-bar-a" style='height:10px') SCON:0x00
					div(class="ui-block-c")
						div(class="ui-bar ui-bar-a" style='height:10px') SBUF:0x00
					div(class="ui-block-a")
						div(class="ui-bar ui-bar-a" style='height:10px') P2: 0x00
					div(class="ui-block-b")
						div(class="ui-bar ui-bar-a" style='height:10px') IE: 0x00
					div(class="ui-block-c")
						div(class="ui-bar ui-bar-a" style='height:10px') P3: 0x00
					div(class="ui-block-a")
						div(class="ui-bar ui-bar-a" style='height:10px') IP: 0x00
					div(class="ui-block-b")
						div(class="ui-bar ui-bar-a" style='height:10px') PSW:0x00
					div(class="ui-block-c")
						div(class="ui-bar ui-bar-a" style='height:10px') ACC:0x00
					div(class="ui-block-a")
						div(class="ui-bar ui-bar-a" style='height:10px') B: 0x00
					


				

		






			
			